.nav-container{
    background-color: #264f5e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}

.content-container{
    background-color: #eeeeed;
}

.first-tab{
    background-color: #fff;
    color: gray;
    border-top-right-radius: 50px;
    padding: 5px 17px;
}

.second-tab{
    background-color: #e4dcdc;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 5px 18px;
}
.third-tab{
    background-color: #e4dcdc;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 5px 18px;
}
.leads-heading{
    color: #1da1f2;
}
.leads-description{
    color: gray;
}
.cancel-icon{
    color: gray;
}
.input-container{
    border: 1px solid #b0bca7;
    padding: 4px 5px;
    border-radius: 20px;
}
.search-icon{
    color: #b0bca7;
    margin-left: 80px;
}
.lead-dropdown{
    border-bottom: 1px solid lightgray;
    padding: 2px 8px;
    color: gray;
    font-weight: bold;
    outline: none;
}
.sort-icon{
    color: #b0bca7;
}
.add-new-container{
    height: 30px;
    border-radius: 20px;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    background-color: #264f5e;
    padding: 8px;
}